version: '3.8'

services:
  api:
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env.development
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: ${DB_PASSWORD}
      MSSQL_PID: Express
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db_data:/var/opt/mssql
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
